body{
    min-width:320px;
    color:#636363;
    font-family: 'Montserrat', sans-serif;
}
#wrapper{
    position: relative;
    width:100%;
    overflow: hidden;
}
header{
    position: absolute;
    width:100%;
    z-index: 1;
}
header.container-xl{
    position: relative;
}
.nav{
    position: absolute;
    padding:2px 0;
    left:15px;
    right:15px;
}
.navbar-btn{
    width:100%;
}
.navbar-toggler {
    border: 1px solid white;
    padding:1px 5px;
    float:right;
}
.navigation{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}
.navigation li a{
    color:#242424;
    text-align: center;
    display: block;
    background-color:rgba(255, 255, 255, 0.651);
    padding:5px;
}
.navigation a:hover{
    text-decoration: none;
    background-color: #54d154;
    color:white;
}
.logo-brand{
    width: 62px;
    display: block;
    float: left;
    padding:9px 0;
}
.logo-brand a{
    display:block;
}
.logo-brand a img{
    display: block;
}
.header-form{
    float:right;
    padding:4px 0;
    margin:0 45px 0 0;
}
.search-box{
    position:relative;
}
.corner{
    position:absolute;
    right:5px;
    top:2px;
}
.search-box .form-control{
    border-radius: 25px;
    width:175px;
    height:30px;
    padding:2px 10px;
    background-color: rgba(255, 255, 255, 0.897);
}
.search-box button{
    background-color: transparent;
    border:transparent;
}

.banner .container-xl{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color:white;
    position: relative;
}

.banner .banner-header{
    max-width:750px;
    padding:190px 0;
    margin:0 auto;
}
.banner-header .button{
    font-size:22px;
}
.banner .banner-footer{
    position: absolute;
    bottom:10px;
    left:calc(50% - 65px);
}
.banner h1{
    font-size:55px;
    font-weight:bold;
    margin:0 0 20px;
}
.button{
    display:inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    border-radius:50px;
    padding:4px 15px; 
}
.button-lg{
    padding:8px 20px;
    font-size: 18px;
}
.button-sm{
    padding:2px 10px;
}
.button-green{
    color:white;
    background-color: #54d154;
}
.button-green:hover{
    background-color: #388b38;
    text-decoration: none;
    color:white
}
.button-dark{
    background-color: #388b38;
    color:white;
}
.button-dark:hover{
    color:#54d154;
    text-decoration: none;
    background-color: white;
}
.button-grey{
    color:rgb(43, 43, 43);
    background-color: #c4c0c1b2;
}
.button-grey:hover{
    color:rgb(43, 43, 43);
    text-decoration: none;
    background-color: #c4c0c1ec;
}
.button-group{
    overflow: hidden;
    display:inline-block;
    margin:0 auto;
}
.button-group>.button{
    background-color: white;
    color:#54d154;
    border:1px solid #388b38;
    float: left;
}
.button-group>.button:not(:last-child){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button-group>.button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left:-1px;
}
.button-group>.button:hover:not(.is-checked){
    background-color: #54d154;
    color:white;
    text-decoration: none;
}
.button.is-checked {
    background-color: #388b38;
    color: white;
}
.gallery{
    max-width: 950px;
    margin:0 auto;
  }
  .gallery a{
      display:inline-block;
  }
  .gallery a img{
      display:block;
      width:100px;
  }
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  .element-item{
    width:50%;
    padding:15px;
    text-align: center;
  }
.head{
    margin:0 0 10px;
}
.head h2{
    font-size:21px;
    letter-spacing: 3px;
    position:relative;
    padding:0 0 10px;
}
.head h2::after{
    content:"";
    width:60px;
    border:1px solid #828181;
    position:absolute;
    bottom:0;
    left:calc(50% - 30px);
}
.head .description p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin:0;
}
.services article{
    padding:10px 0;
}
.services .article-content{
    padding:0 15px;
}
.services .article-content h3{
    font-size: 24px;
    font-weight: 600;
}
.services article figure .img-fluid{
    height: 74px;
}
.services article figure a{
    display:inline-block;
    padding:30px 25px;
    background-color: #e1f3e1;
    border-radius: 30px;
}
.services .article-content p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.our-work .container-xl{
    background-color: #54d154;
    padding-bottom: 15px;
}
.testimonial .customer-message{
    max-width:600px;
    margin:0 auto;
    overflow: hidden;
}
.customer{
    overflow:hidden;
}
.customer .customer-pic{
width:50%;
float: left;
}
.customer .customer-details{
  width:50%;
  float: left;
  text-align:left;
}
.customer-details h5{
    font-size: 16px;
    font-weight: bold;
}
.customer-pic a{
    display: block;
    float: right;
    margin:0 10px 0 0;
    border-radius:50%;
    overflow:hidden;
    border:1px solid rgb(90, 90, 90);
  }
.owl-carousel .owl-item img {
    width:42px;
  }
.clients .container-xl{
    background-color: #f2f1f1;
}
.team .container-xl{
    background-color: #54d154;
}
.team .member-head a{
    display: inline-block;
    border-radius:50%;
    overflow:hidden;
  }
.team .member-head a img{
      max-width:124px;
}
.member-content span{
    display:block;
    margin:5px auto;
    width:2px;
    height:80px;
    background-color:rgb(90, 90, 90);
}
.member-content h6{
    color:white;
    font-weight: normal;
}
.team-footer{
    background-color: #3eba3e;
}
.team-footer a{
    box-shadow: 0 4px 12px rgba(92, 92, 92, 0.5);
}
footer .container-xl{
    background-color: #333333;
    color:#e6e7e6;
}
footer section{
    padding:20px 10px;
}
footer .section-head h4{
    font-size:18px;
    letter-spacing: 3px;
    position:relative;
    padding:0 0 5px;
}
footer .section-head h4::after{
    content:"";
    width:40px;
    border:1px solid #e6e7e6;
    position:absolute;
    bottom:0;
    left:calc(50% - 20px);
}
.social-icons{
    list-style-type: none;
    margin:0;
    padding:2px 4px;
    display:inline-block;
    background-color:#e6e7e6;
    border-radius:25px;
  }
.social-icons li{
    display: inline-block;
    margin:0 2px;
}
.social-icons li .fa {
    display:block;
    width:20px;
    font-size:14px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    line-height: 20px;
    color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa-dribbble {
    background: #ea4c89;
}
.fa-facebook {
    background: #3B5998;
  }
.fa-twitter {
    background: #55ACEE;
}
footer .post{
    overflow: hidden;
    padding:5px 10px;
}
footer .post .img-holder{
    width:54px;
    float:left;
    margin:0 5px 0 0;
}
.badge-warning{
    color:white;
}
footer form{
    border-radius: 5px;
    overflow: hidden;
}
footer address{
    font-size:14px;
}
footer .form-group{
    margin:0 0 3px;
}
footer .form-control{
    border:none;
    border-radius: 0;
    background-color: #444444;
}
footer .form-control:focus{
    background-color: #444444;
    box-shadow: none;
}
footer form .btn{
    width:100%;
    border-radius: 0;
}
footer .footer-images{
    background-color:#222222;
    color:#111111;
    text-align: center;
    padding:15px 0;
}
footer .footer-images .section-head h4::after{
    border-color: #111111;
}
footer .footer-images a{
    display:inline-block;
    margin:10px 0;
}
footer .copyright{
    background-color: #111111;
    padding:5px 0;
}
footer .copyright p{
    margin:0;
}
@media (min-width:576px){
    .element-item{
      width:25%;
    }
    .gallery a img{
      display:block;
      width:100%;
  }
  }
  @media (min-width:768px) {
    .element-item{
      width:20%;
    }
    .banner .banner-header{
        padding:260px 0;
        margin:0 auto;
    }
    
  }
  @media (min-width:992px){
    .logo-brand{
        margin:0 auto;
        float:none;
    }
    .header-form{
        margin:0;
    }
    .navbar-btn{
        display: none;
    }
      .nav{
          position: static;
        float:left;
          padding:0;
      }
      .navigation li{
        float:left;
    }
    .navigation li a{
        color:white;
        background-color: transparent;
        border-top:4px solid transparent;
        padding:5px;
    }
    .navigation a:hover{
        text-decoration: none;
        color:white;
        background-color: transparent;
        border-top:4px solid #54d154 ;
    }


  }